---
layout: default
---

<div class="home">

  <h1>News!</h1>
      <div class="row">
        <div class="col-sm-8 blog-main">
    {% for post in site.posts limit: 5 %}
        <article>
          <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{post.url | prepend: site.url}}">{{post.title}}</a><br />
            <small class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }} by {% if post.author %}{{post.author}}{% else %}GeekSoc{% endif %}</small></h2>
            <p>{{ post.excerpt }}</p>
          </div>
        </article>
    {% endfor %}
        </div>
      </div>

  <p class="rss-subscribe pull-left"><a href="{{ "/feed.xml" | prepend: site.url }}" class="btn btn-default btn-lg">Subscribe via RSS</a></p>
</div>
