---
layout: default
---

<div class="home">

  <h1>News!</h1>
      <div class="row">
        <div class="col-sm-8 blog-main">
    {% for post in site.posts limit 10 %}
        <article>
          <div class="blog-post">
            <h2 class="blog-post-title">{{post.url | prepend: site.baseurl}}<br />
            <small class="blog-post-meta">{{ post.date | date: "%b %-d, %Y" }} by {% if post.author %}{{post.author}}{% else %}GeekSoc{% endif %}</a></small></h2>
            <p>{{ post.excerpt }}</p>
          </div>
        </article>
    {% endfor %}
        </div>
      </div>


  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
